# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if you ever use it)
Pods/
Podfile.lock

# Carthage (if used)
Carthage/Build/

# Archives
*.xcarchive

# Logs
*.log

# Temporary files
*.swp
*.tmp

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# App packaging
*.ipa

# User-specific settings
*.xcworkspace/xcuserdata/

# Finder
.AppleDouble
.LSOverride

# Code signing
*.cer
*.p12
*.mobileprovision

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftPM local config
.swiftpm/